#hero {
    min-height: 40vh;
}

#announcement h3 {
    color: var(--text-secondary-color) !important;
    font-size: 36px;
}

#announcement .content {
    font-weight: 500;
    font-size: 20px;
    opacity: 0.9 !important;
    line-height: 1.7rem !important;
}

#announcement a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-link-color) !important;
}

#announcement a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    bottom: 0.37em;
    background-color: var(--primary-color);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0.5;
}

#announcement a:hover::after,
#announcement a:focus::after,
#announcement a:active::after {
    width: 100%;
}
